{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    {% verbatim %}
    <div id='testcase_list'>
        <li v-for="(value, key, index) in initial_data">
            {{ index }}
        </li>
        <span>
            {{ type }}
        </span>
    </div>
    {% endverbatim %}
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src='{% static "testcase.js" %}'></script>
<script>
    var initial_data = 'example';
    var data1 = {
        firstName: 'John',
        lastName: 'Doe',
        age: 30
    }
    $(function() {
        // When we're using HTTPS, use WSS too.
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var tescasesocket = new WebSocket(ws_scheme + '://' + window.location.host + "/ws/testlist/testcase/");
        
        tescasesocket.onmessage = function(e) {
            initial_data = JSON.parse(e.data);
            console.log(initial_data);
        };
    });
    console.log(initial_data);
    var app = new Vue({
        // delimiters: ['[[', ']]'],
        el: '#testcase_list', 
        data: {
            type: 'testcase',
            initial_data: data1, 
        }
    })
    console.log(initial_data);


</script>
</html>