{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id='testcase_list'>
        <table>
            <thead>
                <tr>
                    <th>产品</th>
                    <th>说明</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, index) in initial_data" :key='product.id'>
                    <td><a v-bind:href="base + url + product.id">[[ product.name ]]</a></td>
                    <td>[[ product.desc ]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src='{% static "testcase.js" %}'></script>
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#testcase_list', 
        data: {
            initial_data: [], 
            base: '/testlist/',
            url: 'product/p', 
        }, 
        created: function() {
            // When we're using HTTPS, use WSS too.
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var tescasesocket = new WebSocket(ws_scheme + '://' + window.location.host + "/ws/testlist/");
            
            tescasesocket.onmessage = function(e) {
                app.initial_data = JSON.parse(e.data); 
                console.log(app.initial_data)
            }
        }
    })
</script>
</html>